{{ attach_library('glico_submission/submission-preview') }}

<div id="section-header">
  <img src="/themes/custom/glico/images/front/menu/logo.png" alt="logo" class="logo">
  <img src="/themes/custom/glico/images/front/menu/icon-bars.png" alt="logo" id="btn-hamburger">
  <div class="header-menu-bg"></div>

  <ul class="header-menu">
    <li><a href="/">Trang chủ</a></li>
    <li><a href="/#rules">Thể lệ / giải thưởng</a></li>
    <li><a href="/#videos">Bài dự thi</a></li>
    <li><a href="/#winners">Danh sách trúng giải</a></li>
    <li><a href="/#contact">Thông tin liên hệ</a></li>
  </ul>
</div>
<div class="preview-bg">
  <div class="preview-content">
    <div id="banner-img">
      <img src="/themes/custom/glico/images/discover/bear-decor-1.png" alt="bear-decor-1.png" />
    </div>
    <div class="preview-wrapper">
      <div class="field-video-wrapper">
        <div class="field-video video-frame-{{ variables.video_frame }}">
          <video src="{{ variables.video_src }}" alt=""></video>
        </div>
        <div class="video-control">
          <span class="btn-play"></span>
          <span class="btn-mute"></span>
          <span class="text-time">00 / 00</span>
          <span class="btn-fullscreen">XEM TOÀN MÀN HÌNH</span>
        </div>
      </div>
      <div class="info-wrapper">
        <div class="user-info">
          <img src="{{ variables.avatar_src }}" class="avatar">
          <span class="username">{{ variables.username }}</span>
        </div>
        <p class="baby-name-label no-sp">VŨ ĐIỆU<br>PHÁT TRIỂN TOÀN DIỆN<br>CỦA BÉ:</p>
        <p class="baby-name no-sp">{{ variables.baby_name }}</p>
        <div class="baby-name-wrapper no-pc">
          <p class="baby-name-label no-pc">VŨ ĐIỆU PHÁT TRIỂN TOÀN DIỆN CỦA BÉ:</p>
          <p class="baby-name no-pc">{{ variables.baby_name }}</p>
        </div>
        <div class="caption">{{ variables.caption }}</div>
      </div>
    </div>
    <div class="btn-send-submission"><span>GỬI BÀI NGAY</span></div>
  </div>
  <img class="decor-bottom-img" src="/modules/custom/glico_submission/upload/decor-bottom.png">
</div>
<div class="share-modal-bg">
  <div class="share-modal">
    <p class="message-share">Bố mẹ hãy chia sẻ bài dự thi về Facebook để bài thi được tính là hợp lệ nhé!</p>
    <p id="btn-share-fb" class="btn-share-fb" data-share-url="{{ variables.share_url }} data-id="{{ variables.nid }}">CHIA SẺ NGAY</p>
  </div>
</div>
{#<div class="complete-modal-bg">#}
  {#<div class="complete-modal">#}
    {#<p class="message-complete">Nộp bài dự thi thành công!</p>#}
    {#<a class="btn-share-fb" href="{{ variables.share_url }}">VỀ TRANG CHỦ</a>#}
  {#</div>#}
{#</div>#}
