{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}

<div class="preview-wrapper">
    <div class="field-video-wrapper">
        <div class="field-video video-frame-{{ variables.frame }}">
            <video src="{{ variables.video_src }}" alt=""></video>
        </div>
        <div class="video-control">
            <span class="btn-play"></span>
            <span class="btn-mute"></span>
            <span class="text-time">00 / 00</span>
            <span class="btn-fullscreen">XEM TOÀN MÀN HÌNH</span>
        </div>
    </div>

    <div class="info-wrapper">
        <div class="user-info">
            <img src="{% if variables.submitter.img_src is not empty %}{{ variables.submitter.img_src }}{% else %}/themes/custom/glico/images/other/no-avatar.png{% endif %}" class="avatar">
            <span class="username">{{ variables.submitter.name }}</span>
        </div>
        <p class="baby-name-label">VŨ ĐIỆU<br>PHÁT TRIỂN TOÀN DIỆN<br>CỦA BÉ:</p>
        <p class="baby-name">{{ variables.title }}</p>
        <div class="caption">{{ variables.caption }}</div>
    </div>
    <div class="btn-send-submission">GỬI BÀI NGAY</div>
</div>
